{% extends "root.tmpl" %}

{% block title %}Introduction{% endblock %}

{% block root_css %}{% endblock %}

{% block root_body %}
<div class="jumbotron">
  <div class="container">
	  <h1>Hello, world!</h1>
	  <p>...</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>

<div class="container">
	<div class="row">
		<p>
			Here is other introduction information TDB.
		</p>
	</div>
</div>

{% endblock %}

{% block root_js %}{% endblock %}
